<div>
    <div>
        <nav>
            <a href="/controllers/homepageRoutes.js">Homepage</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/login">Login</a>
            <a href="/logout">Logout</a>
        </nav>
    </div>
</div>