* {
    background-color: lightblue;
}
.blogpost-card {
    border: solid;
    margin: 5%;
}

.title {
    border: solid 2px;
}

.content {
    color: white;
}

.date {
    margin-top: 2%;
    color: blue;
    text-decoration: overline;
}

.button-hide {
    display: none;
}